TELEGRAM_BOT_TOKEN=your_bot_token_here
TIKWM_BASE_URL=https://www.tikwm.com
COBALT_BASE_URL=https://api.cobalt.tools
COBALT_API_KEY=
# Username (without @) of the new bot to promote after downloads
PROMOTE_BOT_USERNAME=
